
ul{
  list-style-type: none;
  margin:0 auto;
  
}

h1,h2,h3{
  margin:0;
  font-family:  Helvetica;
}
header{
  margin: 10px 10px 10px  10px;
}


.logo{
  margin: 0 auto;
  padding-left: 150px;
  padding-bottom: 12px;

  display:flex;

}
.logo img{
  width:50px;
  height:50px;
}



.title{
  
  background-color: #04083C;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
}
.title img {
  width: 200px;
  height: 200px;
  margin: 10px 10px 10px 10px;
  padding-right: 25px;
  flex-basis: 25%;
}

.title h1{
  
  color: #fff;

}



.content> div{
  margin-top: 25px;
}

.main{
  margin: 0 auto;
  width:80%;
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}




.Recommended{
  margin-right: 15px ;
  padding-right: 15px ;
  border-right: 1px solid #E5E9EC;
  flex-basis: 25%;
}

.Recommended h2{

  margin:0;
  text-align: right;
  color: #FA7B03;
  font-size:15px;

}
.Recommended li{
  text-align: right;

}


.menu-items{
  padding-left: 15px ;
  padding-right: 25px ;
  flex-basis:50%;
}
.menu-items img{
  width:20px;
  height:20px;
}

.menu-items > p{
  margin: 0;
  color: #999999;
  font-size:12px;
  
}

.items > div{
  border-bottom: 2px solid #E5E9EC;
  padding-top: 25px;
  padding-bottom: 25px ;

}


.Cart{
  flex-basis: 25%;

}
.Cart > p{
  margin: 0;
  color: #999999;
  font-size:12px;
  
}
.cartitems{
  display:flex;
  justify-content: space-between;

}
.button {
  background-color: #4CAF50; 
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px ;
}




footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #060B42;
   
   color: white;
   text-align: center;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
}

.contacts
{
    height:50px;  
}